* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #57595c;
  background-color: #edefec;
  font-size: 16px;
}
button {
  text-align: center;
  width: 100%;
  background: white;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  color: #57595c;
  font-size: 0.8em;
  font-weight: 500;
  padding: 5px 0;
  margin: 0 auto 18px auto;
}
button:hover {
  background: #eeeeee;
  border: 1px solid grey;
}
h3 {
  font-weight: bold;
  margin-bottom: 0.7em;
}
p {
  font-size: 0.9em;
  font-weight: 600;
  margin: -13px auto 25px auto;
}
span {
  display: block;
  position: relative;
  top: 46%;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.row:first-of-type {
  margin-top: 20px;
}

.rowcenter {
      display: flex;
    justify-content: center;
}

ul {
  text-align: left;
}

#roll {
}

.roll-output {
    font-size: 30px;
    color: black;
}

#current-bet, #odds-bet{
  max-width: 100px;

}

.border {
 border: 2px solid color: #2c2d2e; 

}

#win-lose {
  /*width: 150px;*/
  color: white;
} 

.rowcenter {
      display: flex;
    justify-content: center;
}

.show-dice img {
  width: 200%;
}

.name-input {
  height: 50px;
  width: 200px;
   font-size: : 20px;
}

#name-button {
  height: 50px;
  width: 75px;
  color: white;
   font-size: : 20px;
}

#info-section {
  height: 110px;
}

#come-out-number {
  width: 150px;
}

#bet-point-area {
  min-height: 375px;
  margin-top: -40px;
}

#left-column, #right-column {
margin-top: -25px;

}

#graph-area {
  margin: 0 auto;
  border: 1px solid black;
  height: 45vh;
  min-height: 45px;
}